services:
  mongodb:
    build : ./mongodb
    image: lavanyaesw/mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db
  catalogue:
    build: ./catalogue
    image: lavanyaesw/catalogue:v1
    container_name: catalogue
    depends_on: 
      - mongodb
  redis:
    build: ./redis
    image: lavanyaesw/redis:7.0
    container_name: redis
    volumes:
      - redis:/data
  mysql:
    build: ./mqsql
    image: lavanyaesw/mysql:v1
    container_name: mysql
    volumes:
      - mysql:/var/lib/mysql
  rabbitmq:
    build: ./rabbitmq
    image: lavanyaesw/rabbitmq:3
    container_name: rabbitmq
    volumes: 
      - rabbitmq:/var/lib/rabbitmq
    environment: 
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
  user:
    build: ./user
    image: lavanyaesw/user:v1
    container_name: user
    depends_on: 
      - mongodb
      - redis
  cart:
    build: ./cart
    image: lavanyaesw/cart:v1
    container_name: cart
    depends_on: 
      - redis
      - catalogue
  shipping: 
    build: ./shipping
    image: lavanyaesw/shipping:v1
    container_name: shipping
    depends_on:
      - mysql
      - cart
  payment:
    build: ./payment
    image: lavanyaesw/payment:v1
    container_name: payment
    depends_on: 
      - rabbitmq
      - cart
      - user
  frontend:
    build: ./frontend
    image: lavanyaesw/frontend:v1
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - catalogue
      - user
      - cart
      - shipping
      - payment
networks:
  default:   
    driver: bridge
    name: roboshop
    external: true
volumes:
  mongodb:
  redis:
  mysql:
  rabbitmq: